.container{
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.handler-bar{
	cursor: pointer;
	color: transparent;
	width: 100%;
	display: flex;
	justify-content: space-between;
	transition-property: color, background-color;
	transition-duration: 0.5s;
	transition-timing-function: ease;
}

.drag-icon{
	padding: 5px;
	font-size: 1em;
	transition: transform 0.2s ease-in-out;
}

.drag-icon:hover{
	transform: scaleY(0.7);
}

.handler-bar:hover{
	color: inherit;
	background-color: rgba(var(--color5), 0.2);
}
