.main {
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgb(var(--color1));
	min-height: 100vh;
	color: rgb(var(--color5));
}

.grid-container {
	padding: 50px;
	width: 100%;
	max-width: 100vw;
	overflow-y: visible;
	overflow-x: clip;
	box-sizing: border-box;
}

.empty-handler {
	padding: 10px;
}